h2 {
  /* color: gray; */
  color: red;
  background-color: #ae0a0e;
}
.slider {
  opacity: 0.6;
  height: 100%;
  position: relative;
  transform: translate3d(0px, 0px, 0px);
  margin: 0 -5px;
  z-index: 1;
  position: relative;
}
.slider ul {
  display: flex;
}
.slider li {
  cursor: pointer;
  text-align: center;
  list-style: none;
}
.cartBtn {
  background-color: #ae0a0e;
  position: relative;
  align-self: center;
  color: #ffffff;
  justify-content: center;
  height: auto;
  border: none;
  margin: 0;
  min-width: 220px;
  min-height: 40px;
}
input {
  cursor: pointer;
}
p {
  color: grey;
}
.date {
  color: black;
}
